.Surface {
  overflow: hidden;
  border-radius: var(--radius-md);
  background-color: var(--color-surface);
  box-shadow:
    0 0 0 1px var(--color-border),
    var(--shadow-100);
}

.Layered {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: var(--radius-md);
  background-color: var(--color-surface-secondary);
  box-shadow: 0 0 0 1px var(--color-border);
  font-size: var(--font-text-sm-size);
  line-height: var(--font-text-sm-line-height);
}

.Secondary {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  margin: -0.5rem 0;
  background-color: var(--color-surface-secondary);
  color: var(--color-text-secondary);
  font-size: var(--font-text-sm-size);
  font-weight: var(--font-weight-medium);
  line-height: var(--font-text-sm-line-height);
}

.Primary {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 0.75rem 1rem 1rem;
  border-radius: var(--radius-md);
  background-color: var(--color-surface);
  box-shadow: 0 0 0 1px var(--color-border);
  color: inherit;
  text-decoration: none;
}
